*{
    margin: 0px;
    padding: 0px;
}
.topo {
    color: whitesmoke;
    font-size: 20px;
    background-image: url(/images/bkg.jpeg);
    background-size: contain;
    /* padding: 400px 30px 400px 30px; */
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    background-position: center;
}
.obs{
    font-size: 14px;
}
.nav{
  background-color: grey;
  font-family: 'Courier New', Courier, monospace;
  text-decoration: none;
  padding: 19px;
  text-align: center;
  
}
.nav li, .nav a{
  color: antiquewhite;
  display: inline;
  margin: 12px;
  font-size: 18px;
  text-decoration:none;
  padding: 15px;
  }

.nav a:hover{
  color: black;
  background-color: 
  font-size: 24px;
  text-decoration: none;
  border-color: black;
  border: solid;
}

.whois{
    padding: 10px 30px 50px 30px;
    color: black;
    block-size: 90%;
    width: 97%;
    margin-right: 50px;
    padding: 60px 30px 40px 30px;
    background-color: rgba(100, 100, 100, 0.2);    
}
.photo{
  border-radius: 50%;
  width: 150px;
  float: left;
  margin-right: 30px;
  vertical-align: top;
}
.text_eu{
  width: 60%;
}
.linkedin{
  background-color: #0e76a8;
  padding: 30px 10px 30px 10px;
  text-align: center;
  font-size: 30px;
  margin-left: 700px;
  margin-right: 700px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  -webkit-border-radius: 20px;
}
.linkedin:hover {
  background-color: #054f77;
  cursor: pointer;
  text-decoration: none;
 
  
}
