*{
    margin: 0px;
    padding: 0px;
}

.colorbkg{
  background-color: rgba(100, 100, 100, 0.2);   
}
.topo {
    color: whitesmoke;
    font-size: 20px;
    background-image: url(/images/bkg.jpeg);
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    
    }

.fixed{
  /* position: fixed; */
  width: 100%;

  }

  .obs{
    font-size: 14px;
}

.nav{
  background-color: grey;
  font-family: 'Courier New', Courier, monospace;
  text-decoration: none;
  padding: 19px;
  text-align: center;
  
}
.nav li, .nav a{
  color: antiquewhite;
  display: inline;
  margin: 10px;
  font-size: 24px;
  text-decoration:none;
  padding: 10px;
  }

.nav a:hover{
  color: black;
  background-color: 
  font-size: 30px;
  text-decoration: none;
  border-color: black;
  border: solid;
  border-radius: 25%;
}
.whois_title{
  margin: 12px;
  /* display: inline; */
}

.whois article{
    padding: 60px;
    background-color: rgba(100, 100, 100, 0.2);   
    vertical-align: center;
     }

.photo{
  border-radius: 50%;
  width: 150px;
  float: left;
  margin-right: 20px;
  vertical-align: top;
}
.text_eu{
  /* width: 100%; */
}
.project_title{
  font-size: 30px;
  color: antiquewhite;
  background-color: grey;
  font-weight: 500;
  font-family: 'Courier New', Courier, monospace;
  padding: 20px;
  text-align: center;
}

.project article{
  display: inline-block;
  width: 30%;
  margin: 10px;
  vertical-align: top;
  text-align: center;
}

.photo_project, .contacts img{
  border-radius: 25%;
}

.contacts{
  margin: 0px 20px 0px 40px;
  text-align: center;
}

.contacts img:hover {
  border-radius: 20px;
  border: solid;
  border-radius: 25%;
  width: 180px;
  border-color: black;
 
}